<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>Trucker Link</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>trucker</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>NSCameraUsageDescription</key>
		<string>Used to demonstrate image capture.</string>
		<key>BGTaskSchedulerPermittedIdentifiers</key>
		<array>
			<string>dev.flutter.background.refresh</string>
		</array>
		<key>NSMicrophoneUsageDescription</key>
		<string>Used to capture audio for video recording.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>Used to save photos.</string>
		<key>NSPhotoLibraryAddUsageDescription</key>
		<string>your usage description here</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>The app needs location permission</string>
		<key>NSLocationUsageDescription</key>
		<string>The app needs location permission 2</string>
		<key>NSLocationAlwaysUsageDescription</key>
		<string>This app needs access to location when in the background.</string>
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<string>The app needs location permission 3</string>
		<key>NSContactsUsageDescription</key>
		<string>The app needs contacts permission</string>
		<key>NSCameraUsageDescription</key>
		<string>The app needs camera permission</string>
		<key>NSCameraUsageDescription &lt;string>To scan cards&lt;/string></key>
		<string>To scan cards</string>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UIStatusBarHidden</key>
		<false/>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>io.flutter.embedded_views_preview</key>
		<true/>
		<key>GIDClientID</key>
		<string>339679793930-kmch36pfuvr3q57q4sopb0h76s66b9sv.apps.googleusercontent.com</string>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>com.googleusercontent.apps.339679793930-kmch36pfuvr3q57q4sopb0h76s66b9sv</string>
				</array>
			</dict>
		</array>
	</dict>
</plist>
