<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>339679793930-si1s5ap2e7a8ig6tugmt7c603o0u8tlm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.339679793930-si1s5ap2e7a8ig6tugmt7c603o0u8tlm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>339679793930-4u36utsiuv42j4hhqnnfv77bgmg4kljf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC5r3qkQbXs9gC_7MXBbRh6rRlraSPEHMM</string>
	<key>GCM_SENDER_ID</key>
	<string>339679793930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.whitefalcon.trucker.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>truckerapp-87bba</string>
	<key>STORAGE_BUCKET</key>
	<string>truckerapp-87bba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:339679793930:ios:cc4d44e21e48b272b9a0f3</string>
</dict>
</plist>